<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ookami.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OokamiKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Testing without UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>245179431E345CD20025F9C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2464F1CD1DCC58800028F7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2464F1E11DCC58800028F7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2464F1F51DCC5AE60028F7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2464F1FD1DCC5AE70028F7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
